body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 1s;
}
.container {
  width: 50%;
  height: 50%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background: #0c3042;
  border-radius: 5px;
  box-shadow: 0 0 10px #0c3042;
  transition: background-color 1s;
}
.upper-section {
  margin: 60px 40px 0px 40px;
  border-bottom: 3px solid #294452;
}
h1 {
  transition: color 1s;
  color: whitesmoke;
  font-weight: bold;
  font-size: 32px;
}
.green-h1 {
  color: #0eb162;
  text-shadow: 0 0 1px #e5d523a1;
}
.moto {
  transition: color 1s;
  color: whitesmoke;
  font-weight: bold;
}

#generate-btn {
  background: #26b771;
  border: none;
  margin: 40px 20px 30px 0px;
  padding: 8px 8px;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-family: inherit;
}
#generate-btn:hover {
  box-shadow: 0px -2px 20px #31f2953b;
}
#generate-btn:active {
  box-shadow: 0px -2px 20px #31f2953b;
  background-color: #23e587;
}
.lower-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 0px 40px 50px 40px;
}
.pswd-el {
  background-color: #294452;
  height: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
}
.material-symbols-outlined {
  height: 30px;
  text-align: end;
  margin: 10px 20px;
  color: rgb(218, 252, 245);
  cursor: pointer;
  transition: text-shadow 1s;
}
.material-symbols-outlined:hover {
  transition: text-shadow 1s;
  text-shadow: 0 0 10px #23e587;
}
